:root {
    --main-color: red;
    --header-z-index: 1000;
    --font-weight-heavey: 800;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.flex {
    display: flex;
}
.align-items-end {
    align-items: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
body {
    background: var(--main-color);
    font-size: 16px;
    position: relative;
    /* font-family: YakuHanJP sans-serif; */
}
.container {
    width: 100%;
    overflow: hidden;
}

/* 共用 */

.title > * span:nth-child(1) {
    display: inline-block;
    transform: scale(0.5);
    line-height: 1;
    color: var(--main-color);
}
.title > *:nth-child(2) {
    font-size: 60px;
    font-weight: var(--font-weight-heavey);
    line-height: 1;
    padding-right: 20px;
}
.title > *:nth-child(3) {
    font-size: 12px;
    line-height: 1;
    vertical-align: text-top;
    /* color: var(--main-color); */
}
/* HREF */
.href-more {
    display: flex;
    align-items: center;
    padding: 12px 0;
    color: var(--main-color);
    font-weight: var(--font-weight-heavey);
}
.href-nav-text {
    padding-right: 16px;
}

/* BUTTON */
.button {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: var(--font-weight-heavey);
}
.button-more {
    position: relative;
    padding: 16px 24px;
}
.button-more::before {
    position: absolute;
    letter-spacing: 1px;
    content: '...';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}
/* CARD */
.card {
    display: block;
    color: #000;
}
.card .card-img {
    overflow: hidden;
    border-radius: 30px;
}
.card-img img {
    transition: 0.5s;
}
.card:hover img {
    scale: 1.1;
}

/* ARTICLE */
.article-catalog {
    border-radius: 99999px;
    border: 2px solid;
    display: inline-block;
    padding: 2px 14px;
    color: #919191;
    font-size: 0.55rem;
    margin-bottom: 0.5rem;
}
.article-content {
}
.article-date {
    color: #919191;
    font-size: 0.55rem;
    font-weight: var(--font-weight-heavey);
}

/* HEADER */
.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: absolute;
    width: 100%;
    z-index: var(--header-z-index);
}

.logo {
    cursor: pointer;
}

.nav-ul {
    display: flex;
    background: #fff;
    gap: 3px;
    padding: 14px;
    border-radius: 9999px;
}
.nav-ul li {
    cursor: pointer;
    padding: 12px;
    border-radius: 9999px;
}
.nav-li-active {
    color: #fff;
    background: var(--main-color);
}

.menu {
    display: flex;
    align-items: center;
}
.menu .search {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 20px;
}

.menu .burger {
    position: relative;
    background: #fff;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.burger span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    border: 1px solid var(--main-color);
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    left: -1px;
    width: 100%;
    border: 1px solid var(--main-color);
    transition: top 0.3s;
}

.burger span::before {
    top: -6px;
    transition: top 0.3s;
}
.burger span::after {
    bottom: -6px;
    transition: bottom 0.3s;
}

.menu .burger:hover span::before {
    top: -4px;
}

.menu .burger:hover span::after {
    bottom: -4px;
}

/* MAIN */
.main {
    background: #fff;
}
.section-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* MAIN MESSAGE */
.section-message {
    position: relative;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-message {
    margin-bottom: 30px;
}
.title-message > * {
    display: block;
    text-align: center;
}
.title-message *:nth-child(1) {
    height: 20px;
}
.title-message *:nth-child(2) {
    font-size: 18px;
    padding: 10px 0;
}

.content-message {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: var(--font-weight-heavey);
}
.button-message {
    padding: 24px 56px;
    margin-bottom: 100px;
}
.pic01-message,
.pic02-message,
.pic03-message {
    position: absolute;
}
.pic01-message {
    top: -80px;
    right: 60px;
    width: 23vw;
    overflow: hidden;
    border-radius: 23vw;
}
.pic02-message {
    left: 0;
    top: 150px;
    width: 21vw;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.pic03-message {
    left: 16vw;
    top: 330px;
    width: 12vw;
    overflow: hidden;
    border-radius: 30px;
}
/* MAIN MAGEZINE */
.section-magazine {
    position: relative;
    padding: 0 32px 70px;
}
.section-magazine::before {
    position: absolute;
    content: url('../asset/vector.svg');
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.section-magazine .card .card-img {
    margin-bottom: 1rem;
}

ul.content-magazine {
    display: flex;
}
ul.content-magazine li:nth-child(1) {
    flex-basis: 60%;
    align-self: center;
    padding: 0 2.25rem 0 0;
}
ul.content-magazine li:nth-child(2) {
    flex-basis: 60%;
    padding: 0 0 0 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ul.content-magazine li:nth-child(3) {
    font-size: 1.625rem;
    flex-grow: 1;
    padding: 0 0 0 5.25rem;
    margin-bottom: 12rem;
}
.section-magazine .article-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: var(--font-weight-heavey);
    margin-bottom: 0.5rem;
}

/* WRAP SECTIONS */
.wrap-sections {
    padding: 100px 0;
    background: #f4f4f4;
    border-radius: 4rem;
}
/* NEW PRODUCTS */
.section-newproducts {
    position: relative;
    margin: 0 0 7rem 6.25rem;
}
.section-newproducts .title {
    margin-bottom: 1rem;
}
.section-newproducts .pages-newproducts {
    position: absolute;
    right: 60px;
    top: 50px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--main-color);
}
.section-newproducts .pages-text {
    font-size: 12px;
    font-weight: var(--font-weight-heavey);
    padding-right: 12px;
}
.pages-newproducts .button {
    font-size: 0;
    padding: 0.75rem 1rem;
}
.pages-newproducts .arrow-left {
    transform: rotate(180deg);
}

ul.content-newproducts {
    display: flex;
    margin-right: -100px;
}
ul.content-newproducts li {
    flex-basis: 25%;
    margin-right: 0.75rem;
}
.section-newproducts .card {
    font-size: 14px;
}
.section-newproducts .card-img {
    background-color: #eaeaea;
    margin-bottom: 1rem;
}
.section-newproducts .article-catalog {
    margin: 0 0.75rem 0.5rem;
}
.section-newproducts .article-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: var(--font-weight-heavey);
    margin-bottom: 0.5rem;
    padding: 0 12px;
}
/* FOOTER */
.footer {
}
